<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12 justify-content-center">
            <p id="footerNote">Copyright &copy; Fresh & Flow</p>
        </div>
    </div>
</footer>   