<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Oops. You found our error page.</h1>
                        <h2>No prize for you.</h2>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Footer -->
    {{> footer }}
    </body>