{{> nav }}
{{> login-modal }}
<div id="registration-container" class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<br>
				<br>
				<br>
				<h3 class="dark-grey">Register To Book Your Appointment</h3>
				
				<div id="username-form" class="form-group col-lg-12">
					<label>Username</label>
					<input type="" name="" class="form-control" id="username-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
				
				<div id="password-form" class="form-group col-lg-12">
					<label>Password</label>
					<input type="password" name="" class="form-control" id="password-input" value="">
					<small id="password-feedback" class=""></small>
				</div>
				
				<div id="repeat-password-form" class="form-group col-lg-12">
					<label>Confirm Password</label>
					<input type="password" name="" class="form-control" id="repeat-password-input" value="">
					<small id="repeat-password-feedback" class=""></small>
				</div>
								
				<div id="email-form" class="form-group col-lg-12">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="email-input" value="">

				  <p id="email-feedback" class=""></p>
				  <small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>
				
				<div id="email-repeat-form" class="form-group col-lg-12">
					<label>Confirm Email Address</label>
					<input type="email" name="" class="form-control" id="repeat-email-input" value="">
					<small id="email-repeat-feedback" class=""></small>
				</div>			
				
				{{!-- <div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Sigh up for our newsletter
				</div> --}}

				{{!-- <div class="col-sm-6">
					<p><input type="checkbox" class="checkbox"/> Yes! Send me notifications</p>
				</div>				 --}}

			<p style="font-size: 14px;"><input type="checkbox" class="emailNotice"/> Yes! Send me notifications</p>
			<br>
			<button type="submit" id="registerButton" class="btn btn-danger signup">Register</button>
			<br>
			
			<br>
			<br>
			</div>
			<div class="col-md-6">
				<br>
				<br>
				<br>
				<h3 class="dark-grey">Barbershop Rules of Ettiquette</h3>
				<img id="chairImg" src="https://cdn.pixabay.com/photo/2016/06/12/21/41/barber-1453064_1280.jpg" alt="barber chair"
				style="width: 475px; height: 300px;">
				<br>
				<br>
				<p style="font-size: 16px;">
					As we pride ourselves in delivering a quality experience, we ask that you please respect the time
					of our barbers and other customers by making it to your appointment on time.
				</p>
				<br>
				<p style="font-size: 16px;">
					While we try to maintain our prices competitive and consistent, certain services and additional 
					requests may incur an increase in costs. Please consult with your barber before booking special 
					requests. 
				</p>
				<br>
				<p style="font-size: 16px;">
					As we believe in maintaining a family atmosphere, we ask that you please refrain from foul language
					and any adult themed conversations in the presence of minors. 
				</p>
				<br>
				<p style="font-size: 16px;">
					If you accept these terms and any other reasonable requests made by the barbershop, then
					we welcome you to stop by the shop. All families welcome!
				</p>
				<br>
			</div>
		</div>
	</section>
</div>
<br>
<br>
{{!-- footer above --}}