<link rel="stylesheet" href="/assets/css/appointments.css">
    <link rel="stylesheet" href="/assets/css/grayscale.css">
    {{> nav }}
    {{> login-modal }}
    

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="forgot-pass-align" class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
        <br>
        <br>
				<h3 class="dark-grey">Forgot your Password?</h3>

        <img id="lockGif" src="https://media2.giphy.com/media/ABfNx2KM7dB7O/giphy.gif" alt="lock">

        <br>
        <br>
        <br>
        <p>Don't worry, it happens! Simply provide us with the email on your account
          and we'll gladly help to reset your password.
        </p>
				<br>
        <br>		
				<div id="email-form" class="form-group col-lg-12">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="email-input" value="">

				  <p id="email-feedback" class=""></p>
				  <small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>			
			<br>
      <br>
      <br>
      <br>
      <br>
			<button type="submit" id="registerButton" class="btn btn-danger signup">Reset Password</button>
			<br>
			
			<br>
			<br>
			</div>
				<br>
			</div>
		</div>
	</section>
</div>

<br>